<h1 align= "center"> Title: <%= @article.title %></h2> <!-- use embedded ruby to pass the @article.title to the heading-->
<p>
<br/>

<div class="card card-body bg-light">  <!-- creates a gray background card-->
  <h4 class= "center description">  
    <strong>Description: </strong>
  </h4>  
    <%= simple_format(@article.description) %> <!-- simple_format - rails method that just nicely styles bits-->
  
    <div class = "article-actions">
      <%= link_to "Edit This Article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>   
      <%= link_to "Back to Articles Listing", articles_path, class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete this Article", article_path(@article), method: :delete, 
                                              data:  {confirm: "Are you sure you want to delete it?"}, 
                                              class: "btn btn-xs btn-danger" %> 
    </div>
  </div>
  <hr>


