<%= render 'shared/errors', obj: @user %>

<div class = "row"> 
    <!--above tyling using bootstrap HTML-->
    <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    
    
    <div class = "form-group", style = "width: 100%">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", style: "width: 100%", autofocus:true %>
    </div>
    <div class = "form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your Email" %>
    </div>
     <div class = "form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
    </div>
    
    
    <div class = "form-group">
    <%= f.submit(@user.new_record? ? "Signup" :  "Update Your Account", class: 'btn btn-primary btn-lg') # new.record? returns boolean. Ternary operator executes a conditional branch based on that boolean. %> 
    </div>
    <% end %>
</div>


<%= link_to "Back to Articles Listing", articles_path %>